#msg {
	text-align: center;
}

.board {
	width: 43%;
	margin: auto;
	table-layout: fixed;
}

.board-row {
	padding-top: 12.5%;
}
.board-cell {
	width: 12.5%;
	position: relative;
}

.board-cell:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.board-cell img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 9%;
	margin-top: 1%;
	width: 4.5vw;
}

.board-cell-1 {
	background-color: #FEEDBE;
}

.board-cell-2 {
	background-color: #3F6E16;
}

.board-cell-highlight {
	background-color: lightblue !important;
}

.swal2-radio label {
	margin-left: 0 !important;
}

.swal2-modal .swal2-radio label:not(:nth-child(2)) {
	margin-right: 21px;
}
