table {
	width: 40%;
	margin: auto;
	border: 2px solid black;
}

tr {
	background-color: blue !important;
}

td {
	outline: 2px solid blue;
	background-color: white;
	border: 1px solid black;
	border-radius: 50%;
	position: relative;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}