.board {
	width: 40%;
	margin: auto;
	table-layout: fixed;
}

.board-row {
	padding-top: 33.3333333%;
	background-color: white !important;
}
.board-cell {
	width: 33.3333333%;
	position: relative;
}

.board-cell:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.board-cell .text {
	font-size: 10vw;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 13%;
}

.vertical-cell {
	border-left: 5px solid #000;
    border-right: 5px solid #000;
}

.horizontal-cell {
	border-top: 5px solid #000;
    border-bottom: 5px solid #000;
}

.material-icons {
	font-size: inherit;
}

#msg {
	text-align: center;
}

.swal2-radio label {
	margin-left: 0 !important;
}

.swal2-modal .swal2-radio label:not(:nth-child(2)) {
	margin-right: 21px;
}
